{% load render_bundle from webpack_loader %}
<!DOCTYPE html>
<html>
 <head>
 <meta charset="UTF-8">
 <title>Home</title>
 <link rel="stylesheet" href="/static/css/index-style.css">
 </head>
 <body>
 {% block content %}
	{% if user.is_authenticated %}
  		Hi {{ user.username }}!
  		<p><a href="{% url 'logout' %}">logout</a></p>
  		<div id="authindex"></div>
  		{% render_bundle 'authindex' %} 
	{% else %}
  		<a href="{% url 'login' %}">login</a> |
  		<a href="{% url 'signup' %}">signup</a>
      <div id="quizIdForm">
  		  <div id="notauthindex"></div>
      </div>
 		{% render_bundle 'nonauthindex' %} 
	{% endif %}
{% endblock %}

 </body>
</html>